body{
    font-family:Arial, sans-serif;
    background: radial-gradient(circle at top left, #14b1e0 0%, #053566 100%);
    margin:0;
    padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #053566;
  color: white;
  padding: 15px 20px;
}
nav h2 {
  margin: 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
.app-container {
    width: 400px;
    margin: 20px auto;  
    background: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(82, 19, 19, 0.1);
}
h1{
    text-align: center;
}
form{
  display:flex ;
  gap: 10px;
  margin-bottom: 20px;  
}
input[type="text"]{
    flex:1;
    padding:8px;
    border: 1px solid #ccc;
    border-radius: 5px ;
}
button{
    padding: 8px 12px;
    border: none;
    background:#4ca;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background:#45a049 ;
}
ul{
    list-style: none;
    padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 5px;
}
li span {
  flex: 1;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.delete-btn {
  background: #e74c3c;
}

.delete-btn:hover {
  background: #c0392b;
}

